@import url('https://fonts.googleapis.com/css?family=Lobster');
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: #ffb48c;
}
header {
  background-color: #e88d7c;
  width: 100vw;
  height: 90px;
}
header > h1 {
  font-family: 'Lobster', cursive;
  margin-left: 3vw;
  float: left;
}
#nav {
  float: right;
  margin: 1.5vw;
  display: flex;
  flex-direction: row;
}
#nav > button {
  background: transparent;
  border: 0;
  margin: 0 10px;
  cursor: pointer;
}
#main {
  display: flex;
  height: 90vh;
  width: 100vw;
}

#map {
  height: 100%;
  width: 70vw;
}

#selections {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 15px;
}
